[submodule "external/cgal"]
	path = external/cgal
	url = https://github.com/CGAL/cgal.git
[submodule "external/tclap"]
	path = external/tclap
	url = https://github.com/mirror/tclap.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://github.com/PX4/eigen.git
[submodule "external/LAStools"]
	path = external/LAStools
	url = https://github.com/LAStools/LAStools
